<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <form action='./GetParam' method="get">
        <div>
        <h4>Co<sub>2</sub></h4>
        <input type="number" name='co2'>
        <h4>NO<sub>2</sub></h4>
        <input type="number" name='no2'>
        <h4>Zn<sub>2</sub></h4>
        <input type="number" name='zn'>
        <h4>H<sub>2</sub>SO<sub>4</sub></h4>
        <input type="number" name='h2'>
        <br>
        <br>
        <button type="submit">Evaluate</button>
        </div>
    </form>
    {{a}}
</body>
</html>